#map {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#yearSlider {
  width: 300px;
  margin: 10px;
}

#yearLabel {
  font-weight: bold;
  font-size: 1.2em;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}
